.container{
    width: 100vw;
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
}