.container{
    width: 100vw;
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
}

@media screen and (max-width: 946px) {
    .wrapper{
        flex-wrap: nowrap;
        overflow: scroll;
         scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; 
    }
     .wrapper::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
    }
    
}