.parent {
  background-image: url("/images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.parent::before {
  content: "";
  display: block;
  height: 164px;
  width: 100vw;
}

@media screen and (max-width: 768px) {
  .parent::before {
    height: 96px;
  }
}
