.parent {
  background-image: url(../../public/images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300vh;
}

.parent::before {
  content: "";
  display: block;
  height: 164px;
  width: 100vw;
}