@import url("https://fonts.cdnfonts.com/css/space-grotesk");

.parent {
  margin: 0 15rem;
}

.heading {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -4%;
  font-family: "Space Grotesk", sans-serif;
}

.cards {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 64px;
  margin: 48px 0;
}

.cards div {
  width: 50%;
  flex: 1;
  display: flex;
}

@media screen and (max-width: 1440px) {
  .parent {
    margin: 0 100px;
  }

  .cards {
    gap: 32px;
  }
}

@media screen and (max-width: 1024px) {
  .parent {
    margin: 0 72px;
  }

  .cards {
    gap: 16px;
  }
}

@media screen and (max-width: 768px) {
  .parent {
    margin: 0 28px;
  }

  .heading {
    font-size: 32px;
  }

  .cards {
    flex-direction: column;
    gap: 24px;
  }

  .cards div {
    width: 100%;
    min-height: auto;
    flex: 0;
  }
}

@media screen and (max-width: 480px) {
  .parent {
    margin: 0 28px;
  }

  .heading {
    font-size: 24px;
  }

  .cards {
    flex-direction: column;
    gap: 24px;
  }

  .cards div {
    width: 100%;
  }
}
