.navigation {
  width: 100vw;
  z-index: 999;

  position: fixed;
  display: flex;

  align-items: center;
  justify-content: space-between;

  padding: 48px 100px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 28px;
}