.navigation {
  width: 100vw;
  z-index: 999;

  position: fixed;
  display: flex;

  align-items: center;
  justify-content: space-between;

  padding: 48px 100px;
  
  backdrop-filter: blur(5px);
}

.buttons {
  display: flex;
  align-items: center;
  gap: 48px;
}

@media screen and (max-width: 768px) {
  .navigation {
    padding: 40px 28px;
  }

  .logo {
    height: 32px;
    width: 32px;
  }

  .homeButton {
    display: none;
  }
}
