.row {
  background-color: #2828281a;
  display: flex;
  position: relative;
  align-items: center;
}

.row::before {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 72px;
  background-color: #C78FFFCC;
  opacity: 100%;
}

.title {
  font-size: 3rem;
  font-weight: 800;
  color: #ffffff;
  letter-spacing: 5%;
  line-height: 100%;
  padding: 12px 20px;
  opacity: 40%;
  min-width: 30%;
}

.text {
  font-size: 1.5rem;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 0%;
}
